<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Witaj świecie!!</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">

    <section id="zadanie_1">
        <h2>Zadanie 1:</h2>

        <p>1. NAPISZ KOD/FUNKCJĘ/KLASĘ (WG UZNANIA), KTÓRA BĘDZIE MIAŁA ZA ZADANIE ODBIERAĆ Z TABELI ODCZYTY Z DANEGO
            OKRESU I ZWRACAĆ JE W FORMIE TABLICY ASOCJACYJNEJ (DATA => ODCZYT).</p>

        <p class="bg-danger"><b>UWAGA!</b> Jeśli wybierzemy daty od 10 stycznia do 20 stycznia to skrypt powinien
            również pobrać ostatni odczyt z przed 10 stycznia (jeśli nie było tego dnia odczytu - jest to potrzebne do
            wykonania kolejnego punktu). </p>
        <h4>Rozwiązanie:</h4>

        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <p class="text-center"> <strong>{{ PA }}</strong></p>
                <pre style="min-height: 140px">{{ TABA }}</pre>
            </div>
            <div class="col-xs-6 col-sm-4">
                <p class="text-center"> <strong>{{ PB }}</strong></p>
                <pre style="min-height: 140px">{{ TABB }}</pre>
            </div>
            <div class="col-xs-6 col-sm-4">
                <p class="text-center"> <strong>{{ PC }}</strong></p>
                <pre style="min-height: 140px">{{ TABC }}</pre>
            </div>
        </div>
    </section>
    <hr>
    <section id="zadanie_2">
        <h2>Zadanie 2:</h2>

    </section>


</div>


</body>
</html>