    <section id="zadanie_1">
        <h2>Zadanie 1:</h2>

        <p>1. NAPISZ KOD/FUNKCJĘ/KLASĘ (WG UZNANIA), KTÓRA BĘDZIE MIAŁA ZA ZADANIE ODBIERAĆ Z TABELI ODCZYTY Z DANEGO
            OKRESU I ZWRACAĆ JE W FORMIE TABLICY ASOCJACYJNEJ (DATA => ODCZYT).</p>

        <p class="bg-danger"><b>UWAGA!</b> Jeśli wybierzemy daty od 10 stycznia do 20 stycznia to skrypt powinien
            również pobrać ostatni odczyt z przed 10 stycznia (jeśli nie było tego dnia odczytu - jest to potrzebne do
            wykonania kolejnego punktu). </p>
        <h4>Rozwiązanie:</h4>

        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <p class="text-center"> <strong>{{ PA }}</strong></p>
                <pre style="min-height: 140px">{{ TABA }}</pre>
            </div>
            <div class="col-xs-6 col-sm-4">
                <p class="text-center"> <strong>{{ PB }}</strong></p>
                <pre style="min-height: 140px">{{ TABB }}</pre>
            </div>
            <div class="col-xs-6 col-sm-4">
                <p class="text-center"> <strong>{{ PC }}</strong></p>
                <pre style="min-height: 140px">{{ TABC }}</pre>
            </div>
        </div>
    </section>
    <hr>